<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="FSBuilder"
         name="FileSync Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="false">
         <run class="de.loskutov.fs.builder.FileSyncBuilder"/>
      </builder>
   </extension>
   <extension
         id="FSPropertyPage"
         name="FileSync property page"
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            class="de.loskutov.fs.properties.ProjectSyncPropertyPage"
            name="File synchronization"
            id="de.loskutov.fs.properties.samplePropertyPage"/>
   </extension>
   <extension
         id="FSPreferences"
         name="FileSync preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.loskutov.fs.preferences.PreferencesInitializer"/>
   </extension>
  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      id="FSForceSyncContribution"
      adaptable="true"
      objectClass="org.eclipse.core.resources.IProject">
      <action
            class="de.loskutov.fs.actions.ForceFileSyncActionDelegate"
            definitionId="de.loskutov.FSForceSyncCommand"
            enablesFor="1"
            icon="icons/refresh.gif"
            id="FSForceSync"
            label="Force File Synchronization"/>
      <visibility>
         <objectState
               value="true"
               name="open"/>
      </visibility>
    </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="de.loskutov.FileSync"
           defaultHandler="de.loskutov.fs.actions.ForceFileSyncActionDelegate"
           description="Manually triggers FileSync builder"
           id="de.loskutov.FSForceSyncCommand"
           name="Force File Synchronization">
     </command>
     <category
           description="File Synchronisation"
           id="de.loskutov.FileSync"
           name="FileSync">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.commandImages">
     <image
           commandId="de.loskutov.FSForceSyncCommand"
           icon="icons/refresh.gif">
     </image>
  </extension>

</plugin>
